@model List<FoodProject.ViewModels.RecipeOverview>
@{
    ViewData["Title"] = "Home Page";
}

    <p>
        <a asp-action="CreateTest">Add new recipe</a>
    </p>

    <div class="row">
        @foreach (var recipe in Model)
        {
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    @*<img class="card-img-top" src="@recipe.ImageURL" alt="Card image cap">*@
                    <div class="card-body">
                        <h5 class="card-title">@recipe.Title</h5>
                        <p class="card-text">@recipe.Description</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </div>