@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <div class="recipe-card">
            <div class="recipe-card-img-wrapper">
                <img src="/" />
            </div>
            <div class="card-info-wrapper flex-row">
                <div class="card-info">
                    <a class="card-title">Link do recept</a>
                </div>
                <div class="button-wrapper">
                    <button class="btn btn-primary visible"></button>
                </div>
            </div>
        </div>
    </div>
</div>